/* Base */

:root {
  --color-body: #333333;
  --background-body: #ffffff;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  color: var(--color-body);
  margin: 0;
  background: var(--background-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  color: #000;
  /* line-height: 1; */
}

.container-fluid h2 {
  font-family: "Allura", cursive;
  font-size: 7rem;
  text-align: center;
  color: #ffffff;
  padding-bottom: 0;
}

.container-fluid h1 {
  font-style: italic;
  /* font-family: ""; cursive */
  font-size: 7rem;
  text-align: center;
  color: #ffffff;
  /* padding-bottom: 0; */
  margin: 0;
}

h1,
.h1 {
  font-size: 3.1rem;
}

h2,
.h2 {
  font-size: 2.8rem;
  text-transform: uppercase;
}

h3,
.h3 {
  font-size: 2.1rem;
}

a {
  text-decoration: none;
}

.socials a:hover {
  transform: scale(2);
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  padding-left: 2rem;
}

li {
  margin-bottom: 1rem;
}

.list-unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}

.category {
  margin: 0;
  font-size: 1rem;
  text-transform: uppercase;
  color: #5b6c78;
}

.container {
  padding: 1rem 2rem;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.grid__item {
  flex-grow: 1;
  flex-shrink: 0;
  width: 100%;
  padding: 1rem;
}

@media screen and (min-width: 750px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
  }
  .grid__item {
    max-width: 50%;
  }
}

/* Sections */

section {
  padding: 5.5rem 0;
}

.section-title {
  margin-top: 0;
  font-size: 3.8rem;
  color: #ffffff;
}

#services .container p {
  color: #ffffff;
}

.section-header {
  text-align: center;
}

@media screen and (min-width: 750px) {
  .section-title {
    font-size: 4.8rem;
  }
}

.header {
  background: #ffffff;
  border-bottom: 1px solid #eee;
  position: sticky;
  top: 0;
  z-index: 1;
}

.header .logo {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  letter-spacing: 2px;
}

.header li {
  display: inline-flex;
  align-items: center;
  padding: 0 0.5rem;
}

/* .header a {
  color: var(--color-body);
} */

.header a:hover {
  color: red;
}

.header .right {
  display: flex;
  align-items: center;
}

.socials {
  display: flex;
}

.socials li {
  margin-bottom: 0;
}

.socials a {
  padding: 0 2px;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 1rem;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  /* transition: all 0.4s; */
}

.socials a:hover {
  background-color: #3054f7;
}
.socials .icon {
  height: 18px;
}

.burger {
  background: none;
  border: none;
  width: 35px;
  height: 35px;
  cursor: pointer;
  position: relative;
  margin-left: 1rem;
}

.burger .bar {
  display: block;
  width: 22px;
  height: 3px;
  background: var(--color-body);
}

.burger .bar::before,
.burger .bar::after {
  display: block;
  content: "";
  width: 22px;
  height: 3px;
  background: var(--color-body);
  position: absolute;
}

.burger .bar::before {
  transform: translateY(-8px);
}

.burger .bar::after {
  transform: translateY(8px);
}

@media screen and (max-width: 749px) {
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 55px;
    left: 110%;
    width: 0;
    overflow: hidden;
    opacity: 0;
    height: calc(100vh - 55px);
    background: #f5f5f5;
    transition: all 0.4s ease-out;
  }
  nav .menu li {
    display: flex;
    justify-content: center;
  }
  nav .menu a {
    display: block;
    font-size: 2rem;
    padding: 2rem;
    transition: all 0.4s;
  }
  .show-nav nav {
    opacity: 1;
    width: 100%;
    left: 0;
    z-index: 2;
  }
  .show-nav nav li a:hover {
    transform: scale(1.1);
    text-decoration: none;
  }
  .show-nav .burger .bar {
    width: 22px;
    background: transparent;
  }
  .burger .bar::before,
  .burger .bar::after {
    transition: all 0.2s ease-out;
  }
  .show-nav .burger .bar::before {
    transform: rotate(-45deg);
  }
  .show-nav .burger .bar::after {
    transform: rotate(45deg);
  }
}

@media screen and (min-width: 750px) {
  .navbar {
    display: flex;
  }
  .burger {
    display: none;
  }
}

.hero {
  /* background-image: url("../img/dedipay_right.jpg"); */
  /* background-size: cover; */
  font-family: "", cursive;
  padding: 1rem 0 0 0;
  font-size: 3rem;
  /* font-style: inherit; */
}

.hero .title {
  font-style: italic;
  font-family: "Allura", cursive;
  /* font-size: 7rem; */
  /* margin: 1.6rem 0 0 0; */
  font-weight: 700;
  color: #ffffff;
  margin: 5rem 1 0 0;
}

.hero__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  align-items: center;
  text-align: center;
}

.hero__item.left {
  /* color: #ffffff; */
  animation-duration: 1s;
  animation-name: slideInleft;
}

.hero__avatar {
  animation-duration: 1s;
  animation-name: slideInright;
}

@media screen and (max-width: 749px) {
  .hero__item.left {
    order: 2;
  }

  .hero__item.right {
    order: 1;
  }
}

@media screen and (min-width: 750px) {
  .hero__item {
    flex: 1 0 50%;
    text-align: left;
  }

  .hero__item.left {
    align-items: flex-start;
  }

  .hero .title {
    font-size: 5rem;
  }

  .hero__avatar img {
    max-width: 400px;
    border-radius: 50%;
  }
}

.about .section-title {
  margin-top: 2.8rem;
}

@media screen and (min-width: 750px) {
  .about img {
    padding-right: 3rem;
  }
}

.service {
  color: #ffffff;
}

.service__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  border: 2px solid #5b6c78;
  border-radius: 50%;
  background-color: #2b53d6;
}

.service__icon svg {
  height: 35px;
}

.service__content {
  flex: 1;
}

.service h3 {
  margin-bottom: 0;
  color: #ffffff;
}

@media screen and (max-width: 749px) {
  .service {
    text-align: center;
  }
  .service__icon {
    margin: 0 auto;
  }
}

@media screen and (min-width: 750px) {
  .service {
    display: flex;
    align-items: center;
  }

  .service__icon {
    margin-right: 2rem;
  }
}

.skills h4,
.skills p {
  margin: 0 0 0.3rem 0;
}

.skills h3 {
  color: #ffffff;
}

.skills .section-header p {
  color: #ffffff;
}

.skills li {
  background-color: #f5f5f5;
  border-left: 3px solid rgb(82, 56, 231);
  padding: 1.1rem 1rem;
  border-radius: 15px;
}

.skills .progressbar {
  background-color: #ffffff;

  margin-bottom: 1rem;
  border-radius: 15px;
  width: 100%;
  overflow: hidden;
}

.progressbar .bar {
  background-color: #2774e7;
  padding: 1rem;
  border-radius: 15px;
  width: 0;
  height: 100%;
  animation: progress-animation 1.5s ease-out forwards; /* Animation */
}

@keyframes progress-animation {
  from {
    width: 0%;
  }
  to {
    width: 70%;
  }
}

.bar1 {
  background-color: #2774e7;
  padding: 1rem;
  border-radius: 15px;
  height: 100%;
  animation: progress-animation1 1.5s ease-out forwards; /* Animation */
}
@keyframes progress-animation1 {
  from {
    width: 0%;
  }
  to {
    width: 50%;
  }
}

.bar2 {
  background-color: #2774e7;
  padding: 1rem;
  border-radius: 15px;
  width: 0;
  height: 100%;
  animation: progress-animation2 1.5s ease-out forwards; /* Animation */
}

@keyframes progress-animation2 {
  from {
    width: 0%;
  }
  to {
    width: 80%;
  }
}

.bar3 {
  background-color: #2774e7;
  padding: 1rem;
  border-radius: 15px;
  width: 0;
  height: 100%;
  animation: progress-animation3 1.5s ease-out forwards; /* Animation */
}

@keyframes progress-animation3 {
  from {
    width: 0%;
  }
  to {
    width: 57%;
  }
}

.bar4 {
  background-color: #2774e7;
  padding: 1rem;
  border-radius: 15px;
  width: 0;
  height: 100%;
  animation: progress-animation4 1.5s ease-out forwards; /* Animation */
}

@keyframes progress-animation4 {
  from {
    width: 0%;
  }
  to {
    width: 70%;
  }
}

.bar5 {
  background-color: #2774e7;
  padding: 1rem;
  border-radius: 15px;
  width: 0;
  height: 100%;
  animation: progress-animation5 1.5s ease-out forwards; /* Animation */
}

@keyframes progress-animation5 {
  from {
    width: 0%;
  }
  to {
    width: 50%;
  }
}

.bar6 {
  background-color: #2774e7;
  padding: 1rem;
  border-radius: 15px;
  width: 0;
  height: 100%;
  animation: progress-animation6 1.5s ease-out forwards; /* Animation */
}

@keyframes progress-animation6 {
  from {
    width: 0%;
  }
  to {
    width: 45%;
  }
}

.bar7 {
  background-color: #2774e7;
  padding: 1rem;
  border-radius: 15px;
  width: 0;
  height: 100%;
  animation: progress-animation7 1.5s ease-out forwards; /* Animation */
}

@keyframes progress-animation7 {
  from {
    width: 0%;
  }
  to {
    width: 75%;
  }
}

.bar8 {
  background-color: #2774e7;
  padding: 1rem;
  border-radius: 15px;
  width: 0;
  height: 100%;
  animation: progress-animation8 1.5s ease-out forwards; /* Animation */
}

@keyframes progress-animation8 {
  from {
    width: 0%;
  }
  to {
    width: 65%;
  }
}

.bar9 {
  background-color: #2774e7;
  padding: 1rem;
  border-radius: 15px;
  width: 0;
  height: 100%;
  animation: progress-animation9 1.5s ease-out forwards; /* Animation */
}

@keyframes progress-animation9 {
  from {
    width: 0%;
  }
  to {
    width: 55%;
  }
}
/* .portfolio {
  /* background: url("../img/Sans\ titre.jpg") center / cover; */

.portfolio .grid__item {
  max-width: 50%;
  margin-bottom: 0;
}

.portfolio .grid__item.hide {
  display: none;
}

.portfolio-filters .grid__item {
  max-width: 50%;
  margin-bottom: 0;
}

.portfolio-filters a {
  color: var(--color-body);
  background: #eee;
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 1rem;
}

.portfolio-filters a {
  border-radius: 30%;
  color: #022597;
}

@media screen and (max-width: 749px) {
  .portfolio a {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 750px) {
  .portfolio-filters .grid__item {
    max-width: 25%;
  }
  .portfolio .grid__item {
    max-width: 33.3333%;
  }
}

/* .contact {
  background: url("../img/istockphoto-1758004093-612x612.webp") center / cover;
} */

.card {
  background: #fff;
  text-transform: uppercase;
  position: relative;
  box-shadow: 0 0 7px rgba(0, 0, 0, 1);
  border: 1px solid #eee;
  align-items: center;
}
.card__inner {
  padding: 2rem;
}

.card__title {
  margin: 0 0 1rem;
  font-size: 1.6rem;
}

.card__overlay {
  background: rgba(0, 0, 0, 8);
  position: absolute;
  top: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.card__overlay a {
  font-size: 4.5rem;
  color: #fff;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.card:hover .card__overlay {
  display: block;
}

.form {
  max-width: 600px;
  margin: 4rem auto 0 auto;
}

.form input,
.form textarea {
  display: block;
  width: 100%;
  padding: 1rem;
  margin-bottom: 2rem;
}

.form textarea {
  min-height: 200px;
}

.form .btn {
  border: none;
  background: var(--color-body);
  color: #fff;
  width: auto;
  min-width: 160px;
  font-size: 2rem;
  text-transform: uppercase;
}

.form .btn:hover {
  cursor: pointer;
  background: #000;
}

/*footer*/

footer {
  background: #e7e7ee;
  color: #022597;
  text-align: center;
  font-size: 1.4rem;
}

footer p {
  margin: 0;
}

footer .grid {
  align-items: center;
}

footer .socials {
  justify-content: center;
  text-align: center;
}

footer .socials li {
  padding: 0 0.7rem;
}

footer .socials a {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 1rem;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  transition: all 0.4s;
}

footer .socials a:hover {
  background: #3054f7;
  /* color: var(--color-body); */
}
.toto {
  color: #c9b9b9;
}

@media screen and (min-width: 750px) {
  footer {
    text-align: left;
  }
  footer .grid__item {
    max-width: 33.333%;
  }
}

@keyframes slideInleft {
  from {
    transform: translateX(-110%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInright {
  from {
    transform: translateX(110%);
  }
  to {
    transform: translateX(0);
  }
}

/* components */

.modal {
  display: none;
}

.modal.show {
  display: block;
}

@font-face {
  font-family: "maPolice";
  src: url("/font/RetroVintage-Regular.otf");
}

/* .about .container .card img {
  width: cover;
} */

#contact p {
  font-size: 3rem;
  font-family: cursive;
  color: #ffffff;
}

#contact h2 {
  font-family: cursive;
  color: #ffffff;
}

ul li.grid__item:hover {
  transform: scale(1.1);
}

#portfolio .section-header {
  color: #ffffff;
}

#portfolio .section-title {
  font-family: "Times New Roman", Times, serif;
  color: #ffffff;
}
#about .section-title {
  font-family: "Allura", cursive;
  color: #ffffff;
}
#about .section-title + h3 {
  font-family: "Allura", cursive;
  color: #ffffff;
}

#about {
  font-family: "Allura", cursive;
}

.about .btn {
  background-color: #f10d0d;
  color: #ffffff;
  width: 80px;
  height: 40px;
  margin-top: auto;
  /* float: right; */
}

.about .btn:hover {
  transform: scale(1.3);
  background-color: #000;
}

#modal-about h3 {
  font-family: "Allura", cursive;
  font-size: 3rem;
  color: #ffffff;
}

.about .card {
  margin-top: 5rem;
  margin-right: 5rem;
}

.about .grid__item {
  font-family: "Allura", cursive;
  font-size: 2rem;
}
#about div {
  margin-top: 2%s;
  font-size: 2.5rem;
}
#about img {
  padding-right: 0;
}
#about .category {
  font-size: 3rem;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: red;
}
#about {
  background: url("../img/18436-292228560_large.mp4") center / cover;
  color: #ffffff;
  font-family: "maPolice";
}

#about .container {
  display: flex;
}

#about .card__title {
  text-align: center;
  color: #022597;
}

.about .container-fluid h2 {
  color: #ffffff;
  text-align: center;
  font-size: 5rem;
}

.video {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-background {
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 749px) {
  .about .container {
    display: flex;
    flex-wrap: wrap;
  }
}
